{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
	<div class="row">
        <div class="thumbnail center well well-sm text-center">
                <h2>Newsletter</h2>

                <p>Subscribe to our weekly Newsletter and stay tuned.</p>

                <form action="" method="post" role="form">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </span>
                      <input class="form-control" type="text" id="" name="" placeholder="your@email.com">
                    </div>
                    <input type="submit" value="Subscribe" class="btn btn-large btn-primary" />
              </form>
        </div>
	</div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://antwort-assets.s3.amazonaws.com/three-cols-images/ph-192x125@2x.png">
                    <img src="https://static.qooqlevideo.com/media/videos/tmb/39271/1.jpg   " alt="Lights" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://antwort-assets.s3.amazonaws.com/three-cols-images/ph-192x125@2x.png">
                    <img src="http://img-egc.xvideos.com/videos/thumbs/bf/01/fb/bf01fbba25002d30c379db0f2adb7152/bf01fbba25002d30c379db0f2adb7152.25.jpg" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>

                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://antwort-assets.s3.amazonaws.com/three-cols-images/ph-192x125@2x.png">
                    <img src="http://img-egc.xvideos.com/videos/thumbsll/bf/01/fb/bf01fbba25002d30c379db0f2adb7152/bf01fbba25002d30c379db0f2adb7152.25.jpg" alt="Fjords" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://antwort-assets.s3.amazonaws.com/three-cols-images/ph-192x125@2x.png">
                    <img src="https://antwort-assets.s3.amazonaws.com/three-cols-images/ph-192x125@2x.png" alt="Lights" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://antwort-assets.s3.amazonaws.com/three-cols-images/ph-192x125@2x.png">
                    <img src="https://antwort-assets.s3.amazonaws.com/three-cols-images/ph-192x125@2x.png" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://antwort-assets.s3.amazonaws.com/three-cols-images/ph-192x125@2x.png">
                    <img src="https://antwort-assets.s3.amazonaws.com/three-cols-images/ph-192x125@2x.png" alt="Fjords" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
